    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Employee Data</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <input type="text" id="empId" />
            </div>
            <div class="col-sm-6">
                <input type="button" id="GetEmp" value="Get Emp Data" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="empTable"
                       class="table table-bordered
                 table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Emp ID</th>
                            <th>Emp Name</th>
                            <th>Contractor Type</th>
                            <th>Role ID</th>
                            <th>Role Name</th>
                            <th>Role Desc</th>
                            <th>Hourly Salary</th>
                            <th>Monthly Salary</th>
                            <th>Yearly Salary</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
